<p>Olá <%= @resource.email %>!</p>

<p>Alguem Requisitou a mudança de senha para o seu E-mail, clique nesse link para mudar</p>

<p><%= link_to 'Alterar Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a mudança, Ignore esse E-mail</p>
<p>Sua senha não irá mudar até você clicar nesse link e muda-la.</p>
